slurm-*.out
outputs
wandb
__pycache__
data/*
preliminary_eval/*
synthetic_constraints_eleonora/*
url/*
WGAN_out/*
*.pkl
analysis/reeval_path_old
*.csv
*analysis/tsne/tsne_plots
*reeval_paths
models/*
.vscode/*
